.artist {
  padding: 224px 0 200px;

  @media screen and ($desctop) {
    padding: 248px 0 223px;
  }

  & > .container {
    @media screen and ($desctop) {
      padding: 0;
    }
  }

  &-morten-harket {
    background-image: url("../images/Morten Harket.png");
    background-position: center;
    background-size: cover;
  }

  &-title {
    margin: 0;
    margin-bottom: 16px;

    @media screen and ($desctop) {
      margin-bottom: 17px;
    }
  }

  &-fans-count {
    margin: 0;
    margin-bottom: 49px;
  }

  &-actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and ($desctop) {
      flex-direction: row;
    }

    & > * {
      margin-bottom: 24px;

      @media screen and ($desctop) {
        margin-right: 24px;
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;

      @media screen and ($desctop) {
        margin-right: 0;
      }
    }
  }
}
