.artist {
  padding: 200px 0;

  & > .container {
    padding-top: 23px;

    @media screen and ($desctop) {
      padding: 0;
      padding-top: 47px;
    }
  }

  &-morten-harket {
    background-image: url("../images/Morten Harket.png");
    background-position: center;
    background-size: cover;
  }

  &-title {
    margin: 0;
    margin-bottom: 16px;

    @media screen and ($desctop) {
      margin-bottom: 17px;
    }
  }

  &-fans-count {
    margin: 0;
    margin-bottom: 50px;
  }

  &-actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 25px;

    @media screen and ($desctop) {
      flex-direction: row;
    }

    & > * {
      margin-bottom: 26px;

      @media screen and ($desctop) {
        margin-right: 24px;
        margin-bottom: 0;
      }
    }

    & .btn:last-child {
      margin-bottom: 0;

      @media screen and ($desctop) {
        margin-right: 0;
      }
    }
  }
}
