.btn {
  box-sizing: border-box;
  padding: 16px 29px 16px 30px;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;


  border: 1px solid #CACACA;
  border-radius: 5px;

  @media screen and ($desctop) {
    padding-bottom: 17px;
  }

  &-rounded {
    border-radius: 32px;
    padding: 16px 42px 19px 40px;
    font-size: 12.8px;

    text-transform: capitalize;
    border: none;

    background-color: $brown;
  }


  &-with-icon {
    position: relative;

    width: 200px;
    padding: 21px 30px 22px 67px;

    font-size: 12.8px;
    text-align: left;
    text-transform: uppercase;
    color: $white;

    border: none;

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 31px;

      width: 20px;
      height: 20px;

      transform: translateY(-50%);
    }
  }

  &-mix {
    background-color: $purple;

    &::before {
      background-image: url("../images/play-button.svg");
      background-position: center;
    }
  }

  &-favorite {
    background-color: $brown;

    &::before {
      background-image: url("../images/heart.svg");
      background-position: center;
    }
  }
}
