.news {
  padding-top: 100px;

  &-title {
    margin: 0;
    margin-bottom: 48px;
    text-align: center;

    @media screen and ($desctop) {
      margin-bottom: 50px;
    }
  }

  & .container {
    @media screen and ($desctop) {
      padding: 0;
    }
  }
}

.news-item {
  margin-bottom: 80px;

  @media screen and ($desctop) {
    display: flex;
    margin-bottom: 16px;
  }

  &:nth-of-type(even) {
    @media screen and ($desctop) {
      flex-direction: row-reverse;

      & .news-item-img {
        margin-right: 0;
        margin-left: 51px;
      }
    }
  }

  &-title {
    margin: 0;
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: capitalize;

    @media screen and ($desctop) {
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 30px;
    }
  }

  &-img {
    margin-bottom: 49px;

    @media screen and ($desctop) {
      width: 575px;
      height: 286px;
      margin-right: 51px;
    }
  }

  &-text {
    margin: 0;
    margin-bottom: 24px;

    @media screen and ($desctop) {
      margin-bottom: 25px;
    }

    &-pp {
      margin-bottom: 16px;
    }
  }

  &-footer {
    display: flex;
    margin-bottom: 61px;

    font-size: 13px;
    line-height: 19px;

    @media screen and ($desctop) {
      margin-bottom: 61px;
    }
  }

  &-author-img {
    margin-right: 16px;
  }

  &-author {
    margin: 0;
    padding: 0;
    margin-right: 15px;
    font-style: normal;
    color: $orange;
  }

  &-time {
    margin: 0;
    padding: 0;
  }

  &-button {
    align-self: flex-start;
  }
}
