@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"); }

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff"); }

html,
body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  color: inherit;
  text-decoration-skip-ink: none;
  cursor: pointer; }

button,
.btn {
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer; }

h1,
.h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase; }

h2,
.h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase; }

@media (min-width: 1240px) {
  h1,
  .h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase; }
  h2,
  .h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%); }

.container {
  max-width: 1160px;
  padding-right: 20px;
  padding-left: 20px; }
  @media screen and (min-width: 1240px) {
    .container {
      box-sizing: border-box;
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto; } }

.btn {
  box-sizing: border-box;
  padding: 16px 30px 16px 30px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  border: 1px solid #CACACA;
  border-radius: 5px; }
  .btn-rounded {
    border-radius: 32px;
    padding: 16px 40px 19px 40px;
    font-size: 12.8px;
    text-transform: capitalize;
    border: none;
    background-color: #95390C; }
  .btn-with-icon {
    position: relative;
    width: 200px;
    padding: 21px 30px 22px 67px;
    font-size: 12.8px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none; }
    .btn-with-icon::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 31px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%); }
  .btn-mix {
    background-color: #5328A1; }
    .btn-mix::before {
      background-image: url("../images/play-button.svg");
      background-position: center; }
  .btn-favorite {
    background-color: #95390C; }
    .btn-favorite::before {
      background-image: url("../images/heart.svg");
      background-position: center; }

.page {
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Roboto", "Georgia", sans-serif;
  color: #FFFFFF;
  background-color: #08020D; }

.page-header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0; }
  .page-header .container {
    box-sizing: content-box; }

@media screen and (min-width: 1240px) {
  .main-nav {
    display: flex;
    align-items: start; } }

.main-logo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  text-decoration: none; }
  @media screen and (min-width: 1240px) {
    .main-logo {
      margin-right: 88px; } }
  .main-logo-img {
    padding-right: 16px; }
  .main-logo-text {
    font-size: 11px;
    line-height: 12.89px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase; }

.site-nav {
  margin: 0 0 19px;
  padding: 0;
  list-style: none; }
  @media screen and (min-width: 1240px) {
    .site-nav {
      display: flex;
      align-items: start;
      flex-wrap: wrap;
      padding: 4px 0; } }
  .site-nav-item {
    margin: 0 0 3px;
    padding: 0; }
    @media screen and (min-width: 1240px) {
      .site-nav-item {
        margin-right: 25px; } }
    .site-nav-item > a {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 11px;
      line-height: 13px;
      font-family: Roboto;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase; }

@media screen and (min-width: 1240px) {
  .main-nav-search-field {
    min-width: 248px;
    margin-left: auto; } }

.main-nav-search-input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  background-color: #3C3B3D;
  border: none;
  border-radius: 50px; }
  .main-nav-search-input::placeholder {
    color: #757575;
    text-transform: uppercase; }

.border-bottom {
  border-bottom: 1px solid #FFFFFF; }
  @media screen and (min-width: 1240px) {
    .border-bottom > .container {
      padding: 0; } }

.page-footer {
  padding: 62px 0 40px;
  background-image: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  background-color: #5328A1; }
  @media screen and (min-width: 1240px) {
    .page-footer {
      padding-bottom: 25px; } }

.page-footer-links {
  margin: 0;
  padding: 0 0 43px; }
  @media screen and (min-width: 1240px) {
    .page-footer-links {
      box-sizing: content-box;
      padding: 0;
      padding-bottom: 42px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  @media screen and (min-width: 1240px) {
    .page-footer-links > .container {
      box-sizing: content-box;
      padding: 0 20px 0 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  .page-footer-links-group {
    margin-bottom: 31px; }
    @media screen and (min-width: 1240px) {
      .page-footer-links-group {
        width: 270px; }
        .page-footer-links-group:nth-of-type(4) {
          margin-right: none; } }
  .page-footer-links dt {
    margin: 0 0 15px;
    padding: 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase; }
    @media screen and (min-width: 1240px) {
      .page-footer-links dt {
        font-size: 18px;
        line-height: 27px; } }
  .page-footer-links dd {
    margin: 0;
    padding: 0; }
  .page-footer-links-list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .page-footer-links-link {
    text-decoration: none; }

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }
  .social-list-item {
    margin-right: 24px; }
    .social-list-item a {
      text-decoration: none; }

@media screen and (min-width: 1240px) {
  .footer-nav-container {
    padding: 0; } }

.footer-nav {
  margin: 0;
  padding: 40px 0 7px;
  list-style: none; }
  @media screen and (min-width: 1240px) {
    .footer-nav {
      display: flex;
      flex-wrap: wrap; } }
  .footer-nav-item {
    margin-bottom: 16px; }
    @media screen and (min-width: 1240px) {
      .footer-nav-item {
        margin-right: 16px; } }
    .footer-nav-item:last-of-type {
      margin-bottom: 0; }
    .footer-nav-item a {
      text-decoration: none; }

.similar-artists {
  padding-top: 100px;
  padding-bottom: 75px; }
  @media screen and (min-width: 1240px) {
    .similar-artists {
      padding-right: 20px;
      padding-left: 20px; } }
  @media screen and (min-width: 1240px) {
    .similar-artists > .container {
      padding: 0; } }
  .similar-artists .h2 {
    margin-top: 0;
    margin-bottom: 48px; }
    @media screen and (min-width: 1240px) {
      .similar-artists .h2 {
        margin-bottom: 50px; } }

.similar-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.similar-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 50px 25px 0;
  padding: 0; }
  .similar-item:nth-of-type(2n) {
    margin-right: 0; }
    @media screen and (min-width: 1240px) {
      .similar-item:nth-of-type(2n) {
        margin-right: 50px; } }
  @media screen and (min-width: 1240px) {
    .similar-item:nth-of-type(4n) {
      margin-right: 0; } }

.similar-image {
  margin-bottom: 21px; }
  @media screen and (min-width: 1240px) {
    .similar-image {
      width: 250px;
      height: 250px; } }

.similar-info {
  text-align: center; }
  .similar-info-artist {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    text-transform: capitalize; }
  .similar-info-fans {
    margin: 0;
    padding: 0; }
    .similar-info-fans-count {
      display: block;
      width: 100%; }
      @media screen and (min-width: 1240px) {
        .similar-info-fans-count {
          display: inline; } }

.intro {
  padding: 200px 0;
  background-image: url("../../images/banner.png");
  background-position: center;
  background-size: cover; }
  @media screen and (min-width: 1240px) {
    .intro {
      padding-top: 200px; } }
  .intro .h1 {
    text-align: center;
    margin: 0 0 2px;
    padding: 47px 0 0; }
    @media screen and (min-width: 1240px) {
      .intro .h1 {
        padding-top: 0; } }
  .intro .h2 {
    text-align: center;
    margin: 0 0 15px;
    padding: 0; }
    @media screen and (min-width: 1240px) {
      .intro .h2 {
        margin-bottom: 33px; } }

.access-form {
  max-width: 570px;
  margin-right: auto;
  margin-left: auto; }
  .access-form-text {
    margin: 0 0 16px;
    padding: 0 0;
    text-align: center; }
  .access-form-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    @media screen and (min-width: 1240px) {
      .access-form-columns {
        flex-direction: row; } }
  .access-form-label {
    width: 100%; }
    @media screen and (min-width: 1240px) {
      .access-form-label {
        max-width: 273px; }
        .access-form-label + .access-form-label {
          margin-left: 24px; } }
  .access-form-input {
    width: 100%;
    box-sizing: border-box;
    min-height: 50px;
    margin-bottom: 1.5rem;
    padding-left: 20px;
    background-color: transparent;
    border: 2px solid #CACACA;
    border-radius: 3px; }
    .access-form-input::placeholder {
      color: #FFFFFF; }
  .access-form-submit {
    width: 100%;
    padding: 21px 30px 22px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #34C176; }

.pricing {
  padding-top: 100px; }
  @media screen and (min-width: 1240px) {
    .pricing .container {
      padding: 0; } }
  .pricing-title {
    margin: 0;
    margin-bottom: 49px;
    text-align: center; }
    @media screen and (min-width: 1240px) {
      .pricing-title {
        margin-bottom: 51px; } }
  .pricing-list {
    margin-bottom: 39px; }
    @media screen and (min-width: 1240px) {
      .pricing-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: -12px; } }
  .pricing-item {
    margin-bottom: 50px;
    padding: 15px 1.5rem 65px;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 1240px) {
      .pricing-item {
        box-sizing: border-box;
        width: 367px; } }
    .pricing-item:last-of-type {
      margin-bottom: 0; }
      @media screen and (min-width: 1240px) {
        .pricing-item:last-of-type {
          margin-bottom: 50px; } }
    .pricing-item > h3 {
      margin: 0;
      margin-bottom: 200px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase; }
      @media screen and (min-width: 1240px) {
        .pricing-item > h3 {
          font-size: 24px;
          line-height: 45px; } }
    .pricing-item-free {
      background-image: url("../images/subscribe_1.png"); }
    .pricing-item-standart {
      background-image: url("../images/subscribe_2.png"); }
    .pricing-item-premium {
      background-image: url("../images/subscribe_3.png"); }
  .pricing-price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    margin-bottom: 44px; }
  .pricing-value {
    margin-right: 16px;
    font-size: 64px;
    line-height: 60px;
    text-align: center; }
  .pricing-currency {
    margin-top: 7px;
    font-size: 32px;
    line-height: 1em; }
  .pricing-btn {
    display: block;
    margin-bottom: 64px;
    padding: 19px 29px 21px 29px;
    font-size: 16px;
    line-height: 150%; }
  .pricing-footer {
    margin: 0;
    padding: 0;
    font-size: 12.8px;
    line-height: 150%;
    text-align: center; }
  .pricing-description {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 150%;
    text-align: center; }

.news {
  padding-top: 100px; }
  .news-title {
    margin: 0;
    margin-bottom: 48px;
    text-align: center; }
    @media screen and (min-width: 1240px) {
      .news-title {
        margin-bottom: 50px; } }
  @media screen and (min-width: 1240px) {
    .news .container {
      padding: 0; } }

.news-item {
  margin-bottom: 64px; }
  @media screen and (min-width: 1240px) {
    .news-item {
      display: flex;
      margin-bottom: 16px; } }
  @media screen and (min-width: 1240px) {
    .news-item:nth-of-type(even) {
      flex-direction: row-reverse; }
      .news-item:nth-of-type(even) .news-item-img {
        margin-right: 0;
        margin-left: 51px; } }
  .news-item-title {
    margin: 0;
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: capitalize; }
    @media screen and (min-width: 1240px) {
      .news-item-title {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 30px; } }
  .news-item-img {
    margin-bottom: 49px; }
    @media screen and (min-width: 1240px) {
      .news-item-img {
        width: 575px;
        height: 286px;
        margin-right: 51px; } }
  .news-item-text {
    margin: 0;
    margin-bottom: 24px; }
    @media screen and (min-width: 1240px) {
      .news-item-text {
        margin-bottom: 25px; } }
    .news-item-text-pp {
      margin-bottom: 16px; }
  .news-item-footer {
    display: flex;
    margin-bottom: 48px;
    font-size: 13px;
    line-height: 19px; }
    @media screen and (min-width: 1240px) {
      .news-item-footer {
        margin-bottom: 61px; } }
  .news-item-author-img {
    margin-right: 16px; }
  .news-item-author {
    color: #F89202;
    margin-right: 15px;
    font-style: normal; }
  .news-item-button {
    align-self: flex-start; }

.app {
  margin-bottom: 100px;
  padding-top: 100px; }
  @media screen and (min-width: 1240px) {
    .app .container {
      padding: 0; } }
  .app-title {
    margin: 0;
    margin-bottom: 48px;
    text-align: center; }
    @media screen and (min-width: 1240px) {
      .app-title {
        margin-bottom: 50px; } }
  .app-columns {
    display: flex;
    flex-direction: column-reverse; }
    @media screen and (min-width: 1240px) {
      .app-columns {
        flex-direction: row; } }
  @media screen and (min-width: 1240px) {
    .app-column {
      width: calc(50% - 10px); } }
  .app-column + .app-column {
    margin-left: auto; }
  .app-img {
    display: block;
    margin: 0 auto 15px; }
    @media screen and (min-width: 1240px) {
      .app-img {
        margin: 0 0 0 134px; } }
  .app-text-container {
    margin-bottom: 28px; }
    @media screen and (min-width: 1240px) {
      .app-text-container {
        padding-top: 16px; } }
  .app-text {
    margin: 0;
    margin-bottom: 16px; }
    .app-text:last-of-type {
      margin-bottom: 0; }

.artist {
  padding: 224px 0 200px; }
  @media screen and (min-width: 1240px) {
    .artist {
      padding: 248px 0 223px; } }
  @media screen and (min-width: 1240px) {
    .artist > .container {
      padding: 0; } }
  .artist-morten-harket {
    background-image: url("../images/Morten Harket.png");
    background-position: center;
    background-size: cover; }
  .artist-title {
    margin: 0;
    margin-bottom: 16px; }
    @media screen and (min-width: 1240px) {
      .artist-title {
        margin-bottom: 17px; } }
  .artist-fans-count {
    margin: 0;
    margin-bottom: 49px; }
  .artist-actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    @media screen and (min-width: 1240px) {
      .artist-actions {
        flex-direction: row; } }
    .artist-actions > * {
      margin-bottom: 24px; }
      @media screen and (min-width: 1240px) {
        .artist-actions > * {
          margin-right: 24px;
          margin-bottom: 0; } }
    .artist-actions:last-child {
      margin-bottom: 0; }
      @media screen and (min-width: 1240px) {
        .artist-actions:last-child {
          margin-right: 0; } }

.popular-tracks {
  padding-top: 100px; }
  @media screen and (min-width: 1240px) {
    .popular-tracks > .container {
      padding: 0; } }
  .popular-tracks-title {
    margin: 0;
    margin-bottom: 48px; }
  @media screen and (min-width: 1240px) {
    .popular-tracks-list {
      display: flex;
      flex-wrap: wrap; } }
  .popular-tracks-item {
    display: flex;
    margin-bottom: 25px; }
    @media screen and (min-width: 1240px) {
      .popular-tracks-item {
        width: calc(50% - 50px);
        margin-right: 50px; } }
    @media screen and (min-width: 1240px) {
      .popular-tracks-item:nth-of-type(even) {
        margin-right: 0; } }
    .popular-tracks-item-img {
      align-self: flex-start;
      margin-right: 15px; }
    .popular-tracks-item-body {
      flex-grow: 1;
      font-size: 13px;
      line-height: 19px; }
    .popular-tracks-item-title {
      margin: 0;
      padding-top: 10px;
      font-size: 13px;
      font-weight: 700;
      line-height: 19px;
      text-transform: uppercase; }
    .popular-tracks-item-info {
      display: flex; }
    .popular-tracks-item-artist {
      font-style: normal; }
    .popular-tracks-item-duration {
      position: relative;
      top: -10px;
      margin: 0;
      margin-left: auto; }

.discography {
  padding-top: 100px; }
  @media screen and (min-width: 1240px) {
    .discography > .container {
      padding: 0; } }
  .discography-title {
    margin: 0;
    margin-bottom: 48px; }
  .discography-list {
    display: flex;
    flex-wrap: wrap; }
    @media screen and (min-width: 1240px) {
      .discography-list {
        margin-bottom: -24px; } }
  .discography-item {
    margin-right: 50px;
    margin-bottom: 24px;
    width: calc(50% - $mr); }
    @media screen and (min-width: 1240px) {
      .discography-item {
        width: calc(25% - 3 * $mr); } }
    .discography-item:nth-of-type(even) {
      margin-right: 0; }
      @media screen and (min-width: 1240px) {
        .discography-item:nth-of-type(even) {
          margin-right: 50px; } }
    .discography-item:nth-of-type(4n) {
      margin-right: 0; }
    .discography-item-image {
      margin-bottom: 19px; }
      @media screen and (min-width: 1240px) {
        .discography-item-image {
          width: 250px;
          height: 250px; } }
    .discography-item-title {
      margin: 0;
      font-size: 18px;
      line-height: 27px;
      text-transform: capitalize; }
