@mixin font-face ($family, $weight, $style, $url) {
  @font-face {
  font-weight: $weight;
  font-family: "#{$family}";
  font-style: $style;
  font-display: swap;
  src: url("../fonts/#{$url}.woff2") format("woff2"),
       url("../fonts/#{$url}.woff") format("woff");
  }
}

@include font-face(Roboto, 400, normal, roboto-bold);
@include font-face(Roboto, 500, normal, roboto-medium);
@include font-face(Roboto, 700, normal, roboto-regular);
