// Screen resolutions
$desctop: "min-width: 1240px";


// Colors
$white: #FFFFFF;
$black: #08020D;
$dark: #3C3B3D;
$gray: #E0E0E0;
$dark-gray: #CACACA;
$green: #34C176;
$orange: #F89202;
$purple: #5328A1;
$brown: #95390C;


// Fonts
$main-font: "Roboto", "Georgia", sans-serif;
$fz-7: 64px;
$fz-6: 56px;
$fz-5: 48px;
$fz-4: 40px;
$fz-3: 32px;
$fz-2: 24px;
$fz-1: 16px;
$fz-s: 12.8px;
